#COMMON
NODE_ENV=
PORT=
FRONTEND_URL=

#AUTH
JWT_SECRET=
JWT_EXIPRES_IN=
PASSWORD_DAYS_TO_EXPIRE=

#DATABASE
MYSQL_DB_HOST=
MYSQL_DB_PORT=
MYSQL_DB_NAME=
MYSQL_DB_USER=
MYSQL_DB_PASSWORD=

#MAIL
MAIL_HOST=
MAIL_PORT=
MAIL_SALES_USER=
MAIL_SALES_PASSWORD=
MAIL_SUPPORT_USER=
MAIL_SUPPORT_PASSWORD=
